{
    "semi": false,
    "trailingComma": "all",
    "Bracket Line": true,
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": true,
    "spaceWithinParens": true,
    "bracketSpacing": true,
    "requirePragma": true
}
  